//helpers
.hidden { display: none }

.overflow-hidden { overflow: hidden }

.p0 { padding: 0 }

.uppercase { text-transform: uppercase; }

.app {
    max-width: 640px;
    background: #000;
}

.mg-0-auto { margin: 0 auto; }
