<!DOCTYPE html>
<html lang="br">
    <head>
        <title>Home | BSC</title> <!-- Adicionar nome do Projeto -->

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- Meta Tags para SEO -->
        <meta name="description" content="## Descrição do projeto para buscadores ##">
        <meta name="keywords" content="## Palavras chaves do projeto para buscadores ##">

        <!-- Meta Tags para acompanhamento dos buscadores -->
        <meta name="googlebot" content="noindex,nofollow"> <!-- DESENVOLVIMENTO || Os bucasdores NÃO irá encontrar e indexar o projeto -->
        <meta name="googlebot" content="index,follow"> <!-- PRODUÇÃO || Os bucasdores irá encontrar e indexar o projeto -->
        <meta name="robots" content="noarchive"> <!-- Não armazena cache -->

        <!-- Chamadas dos arquivos CSS e FAVICON -->
        <link rel="stylesheet" href="./css/bundle.min.css">
        <link rel="icon" href="img/favicon.ico" size="16x16" type="image/png">
    </head>
    <body>
